
ul.main li{
	display: block;
    position: relative;
}


ul.main a {
	display: block;
	text-decoration: none;
	color: #fff;
	height: 50px;
	padding: 14px;
	font-size: 12.2pt;
}

ul.main{
	padding: 0;
	margin: 0;
}
.anime_info{
	display: none;
    background-color: rgba(0,0,0,0.8);
    color: white;
    text-align: center;
    border-radius: 4px;
    height: 100%
}
.anime_info2{
	display: none;
    background-color: rgba(0,0,0,0.8);
    color: white;
    text-align: center;
    border-radius: 4px;
    height: 100%
}
a#activelink0 {
	background-color: #006633;
	width: 176px;
	border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

a#activelink1 {
	background-color: #339933;
	width: 176px;
}

a#activelink2 {
	background-color: #33AA33;
	width: 176px;
}

a#activelink3 {
	background-color: #339933;
	width: 176px;
}

a#activelink4 {
	background-color: #006633;
	width: 176px;
	border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
a#activelink0:hover,
a#activelink1:hover,
a#activelink2:hover,
a#activelink3:hover,
a#activelink4:hover {
	background-color: #cf2525;
}

.pp{
	height: 390px;
	margin-bottom: 10px;
}
.slider {
      position: relative;
      overflow: hidden;
    }

    .slider__wrapper {
      display: flex;
      transition: transform 0.6s ease;
    }


    .slider__control {
      position: absolute;
      top: 50%;
      display: none;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, .5);
    }

    .slider__control_show {
      display: flex;
    }

    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: .9;
    }

    .slider__control_left {
      left: 0;
    }

    .slider__control_right {
      right: 0;
    }

    .slider__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_left::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_right::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    .slider__item>div {
      line-height: 80px;
      font-size: 100px;
      text-align: center;
    }
    a{
      text-decoration: none;
    }